.navbar{
    display: flex;
    background-color: chocolate;
}.site-name{
    padding: 5px 30px;
    color:#fff;
}.site-menu{
    padding: 10px 30px;
    margin-left: 100px;
}a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}